<h1>Home page</h1>
{{#each blogs}}
<div id={{id}} class="post">
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    <hr>
    <button id="commentBTN" value={{id}}>comment</button>
</div>
{{/each}}

 {{!-- foreach (item, idx)  --}}
 <script src="/js/profile.js"></script>